@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between each tile */
  padding: 30px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.centered-text {
  margin-top: 8px;
  text-align: center;
  color: #78350F;
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
}


.image-container:hover {
  transform: scale(1.05);
}

.image-container:hover .centered-text {
  color: #5a290d; /* Slightly darken the text color on hover */
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
  margin-left: 10px;
}

.timeline-container::after {
  background-color: #78350F;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  left: 10px;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .timeline-container {
      margin-left: 40px;
  }

  .timeline-container::after {
      left: 20px;
  }

  .timeline-item {
      padding-left: 40px;
  }

  .timeline-item .timeline-item-content {
      max-width: 700px;
      text-align: left;
      padding: 20px;
  }
}

@media (min-width: 1024px) {
  .timeline-container {
      margin-left: 64px;
  }

  .timeline-container::after {
      left: 30px;
  }

  .timeline-item-content {
      width: 930px;
      max-width: 100%;
  }
}

.timeline-item {
  padding-bottom: 30px;
}

.timeline-item-content {
  border: 1px solid #78350F;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  position: relative;
  width: calc(100% - 20px);
  text-align: left;
}

.timeline-item-content::after {
  content: '';
  background-color: #fff;
  position: absolute;
  left: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  border: 1px solid #78350F;
}

.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  right: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

.timeline-item-content time {
  color: #78350F;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 100%;
  color: #78350F;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #78350F;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  left: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

