@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between each tile */
  padding: 30px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.image-container:hover {
  transform: scale(1.05);
}

.centered-text {
  margin-top: 8px;
  text-align: center;
  color: #78350F;
  font-size: 24px;
  font-weight: bold;
}

.image-container:hover .centered-text {
  color: #5a290d; /* Slightly darken the text color on hover */
}

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
    margin-left: 10px;
  }
  
  .timeline-container::after {
    background-color: #78350F ;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    
  }
  
  
  
  .timeline-item {
   
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
    padding-bottom: 30px;
  }
  
  .timeline-item-content {
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    border: 1px solid #78350F;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 930px;
    max-width: 90%;
    text-align: right;
  }
  
  .timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: none;
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
  }
  
  .timeline-item .timeline-item-content {
    text-align: left;
    align-items: flex-start;
  }
  
  .timeline-item .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    border: 1px solid #78350F;
    box-shadow: none;
  }
  
  .timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
  }
  
  .timeline-item .timeline-item-content .tag {
    left: auto;
    right: 5px;
    background-color: #78350F;
  }
  
  .timeline-item-content time {
    color: #78350F;
    font-size: 15px;
    font-weight: bold;
  }
  
  .timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 700px;
    color: #78350F;
  }
  
  .timeline-item-content a {
    font-size: 14px;
    font-weight: bold;
  }
  
  .timeline-item-content a::after {
    content: ' ►';
    font-size: 12px;
  }
  
  .timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #78350F;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
  }
  
  .timeline-item .timeline-item-content .circle {
    right: auto;
    left: -40px;
  }



.timeline-item-content time {
    margin-top: 10px;
}

.timeline-item-content a {
    text-decoration: underline;
}

.timeline-item-content a::after {
    display: none;
}
